.slick-prev:before,
.slick-next:before {
  color: #fff !important;
  background: linear-gradient(
    -225deg,
    rgb(80, 204, 204) 35%,
    rgb(69, 174, 202) 100%
  );
  font-size: 3rem !important;
  padding-top: 3px !important;
  border-radius: 3rem;
}

.width-item {
  width: 100% !important;
}

.nav-link.active {
  background-color: linear-gradient(
    135deg,
    rgba(0, 255, 170, 1) 0%,
    rgba(0, 187, 255, 1) 53%,
    rgba(69, 121, 245, 1) 100%
  ) !important;
}

.nav-link::before{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: .3s;
}

.nav-link:hover::before {
  width: 130%;
  background-color: rgba(0, 255, 170, 1);
  background-image: linear-gradient(
    135deg,
    rgba(0, 255, 170, 1) 0%,
    rgba(0, 187, 255, 1) 53%,
    rgba(69, 121, 245, 1) 100%
  );
}
