.detailPage{
    background-color: rgb(32, 32, 54) !important;
}
/* .mainBackground{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    filter: blur(10px);
    position: relative;
} */

.styleBlur{
    background: linear-gradient(to top, rgba(32,32,54,1.0), transparent 100%);
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}

.movieDetail{
    position: absolute;
    top: 15%;
    left: 15%;
    max-width: 1080px;
}

.playIcon{
    position: absolute;
    color: white;
    top: 35%;
    left: 30%;
    opacity: 0;
    transition: all 0.2s;
}

.playIcon:hover{
    color: white;
    opacity: 1;
}

.ageRating{
    background-color: #00ac4d;
    padding: 0 7px;
    font-size: 15px !important;
    float: left;
    font-weight: bold !important;
}

.star{
    color: #FFB319 !important;
    display: inline-block;
    font-size: 30px !important;
}

.darkBackground{
    background-color: rgb(32, 32, 54);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 70%;
}

.content{
    clear: both;
    position: relative;
    left: 28%;
    top: 64%;
    width: 870px;
    height: 700px !important;
}

ul.navFilmDetail li .nav-link.active{
    background: linear-gradient(135deg,rgba(0,255,170,1.0) 0%,rgba(0,187,255,1.0) 53%,rgba(69,121,245,1.0) 100%) !important;
    color: #fff !important;
}

ul.navFilmDetail li .nav-link{
    color: #00baff !important;
}

#contentNav ul li{
    position: relative;
}

/* #contentNav > ul li a.active::after{
    content: "";
    height: 3px;
    width: 100%;
    background:linear-gradient(to right,#fbbd61,#ec7532);
    display: block;
    position: absolute;
    top: 41px;
    left: 0;
} */

/* .content ul li a::after{
    content: "";
    height: 3px;
    width: 100%;
    background:linear-gradient(to right,#fbbd61,#ec7532);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
} */

.contentNavLink{
    background-color: transparent !important;
}

.showtmeNavLink:hover,.contentNavLink:hover{
    text-decoration: none;
    color: #fff;
}

/* .contentNavLink.active{
    color: #FFB319 !important;
}

.showtmeNavLink.active{
    color: #FFB319 !important;
} */

.leftInfo{
    text-align: left !important;
}

.contentTitle{
    width: 35%;
}

.contentInfo{
    width: 40%;
    margin-left: 75px;
}

.btn-viewingTime{
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 1rem;
}

.btn-viewingTime:hover{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.border-lightGray{
    border: 1px solid rgba(222, 226, 230, .25) !important;
}

.reviewInput{
    height: 50px;
    max-width: 720px;
    background-color: #fff;
    width: 100%;
}