.profile h1 {
  font-size: 20px;
  line-height: 40px;
}

.profile h1 .icon {
  font-size: 20px;
  color: gray !important;
  position: absolute;
  top: 10px;
  left: -30px;
}

.profile h1 span {
  font-weight: 600;
}

.profile .ant-tabs-nav-wrap {
  margin-left: 6rem !important;
  height: 80px !important;
}
